main 
    .input-control
        input#id(type='text' placeholder='ID')
        label(for="id") ID
        input#api(type='text' placeholder='api_link')
        label(for="api") API Link
        button.bnt(type="submit") Add Coffee