.logo {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -5%;
    right: 45%;
    z-index: 2;

    margin: 0 auto;

    @include breakpoint($mobile-bp) {
        width: 150px;
        height: 150px;
        top: 0;
        left: 30%;
    }
    @include breakpoint($mobile-more-bp) {
        width: 150px;
        height: 150px;
        top: 0;
        left: 30%;
    }
}

.logo circle {
    animation: blink .5s ease-in-out 2, movi 3s ease-in-out 1.5s infinite;
}

.logo path:nth-child(10) {
    animation: blink .5s ease-in-out 2, movi 3s ease-in-out 1.5s infinite;
}

@keyframes movi {
    0% {
        transform: translateX(0%);        
    }
    48% {
        opacity: 1;        
    }
    50% {
        transform: translateX(-5%);    
    }
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

