@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(-45deg, #4158D0, #C850C0, #FFCC70);
  background-size: 400% 400%;
  animation: gradientBackGround 10s ease-in-out infinite;
}

@keyframes gradientBackGround {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  filter: url(#goo);
}

.container2 {
  max-width: 730px;
  max-height: 485px;
  position: absolute;
  transform: translateX(50%);
  top: 25%;
  left: 10%;
  z-index: 2;
  margin: 0 auto;
}
@media (max-width: 374px) {
  .container2 {
    max-width: 310px;
    height: 100vh;
    transform: translateX(25%);
    top: 20%;
    left: 30%;
  }
}
@media (max-width: 413px) {
  .container2 {
    max-width: 350px;
    height: 100vh;
    transform: translateX(25%);
    top: 20%;
    left: 30%;
  }
}

.partricle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20%;
  background: linear-gradient(-90deg, #ffd034, #d52d8b);
  background-size: 400% 400%;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  animation: fall 15s infinite, wobble 2s ease-in-out infinite, gradient 3s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes wobble {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 61% 39% 43% 57%/60% 15% 85% 40%;
  }
  50% {
    border-radius: 29% 71% 23% 77%/78% 51% 49% 22%;
  }
  100% {
    border-radius: 16% 84% 51% 49%/47% 30% 70% 53%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fall {
  0% {
    top: -20%;
  }
  20% {
    top: 0%;
  }
  80% {
    top: 85%;
  }
  100% {
    top: 100%;
  }
}
.partricle:nth-of-type(2n) {
  width: 60px;
  height: 60px;
}

.partricle:nth-of-type(3n) {
  width: 120px;
  height: 120px;
}

.partricle:nth-of-type(4n) {
  width: 200px;
  height: 200px;
}

.partricle:nth-of-type(1) {
  left: 30%;
  animation-delay: 1s;
}

.partricle:nth-of-type(2) {
  left: 60%;
  animation-delay: 2s;
}

.partricle:nth-of-type(3) {
  left: 25%;
  animation-delay: 3s;
}

.partricle:nth-of-type(4) {
  left: 75%;
  animation-delay: 4s;
}

.partricle:nth-of-type(5) {
  left: 35%;
  animation-delay: 5s;
}

.partricle:nth-of-type(6) {
  left: 50%;
  animation-delay: 6s;
}

.partricle:nth-of-type(7) {
  left: 65%;
  animation-delay: 7s;
}

.partricle:nth-of-type(8) {
  left: 35%;
  animation-delay: 8s;
}

.partricle:nth-of-type(9) {
  left: 55%;
  animation-delay: 9s;
}

.partricle:nth-of-type(10) {
  left: 55%;
  animation-delay: 10s;
}

.partricle:nth-of-type(11) {
  left: 35%;
  animation-delay: 11s;
}

.partricle:nth-of-type(12) {
  left: 50%;
  animation-delay: 12s;
}

.partricle:nth-of-type(13) {
  left: 65%;
  animation-delay: 13s;
}

.partricle:nth-of-type(14) {
  left: 40%;
  animation-delay: 14s;
}

.partricle:nth-of-type(15) {
  left: 60%;
  animation-delay: 15s;
}

.partricle:nth-of-type(16) {
  left: 5%;
  animation-delay: 16s;
}

.partricle:nth-of-type(17) {
  left: 10%;
  animation-delay: 17s;
}

.partricle:nth-of-type(18) {
  left: 12%;
  animation-delay: 18s;
}

.partricle:nth-of-type(19) {
  left: 20%;
  animation-delay: 19s;
}

.border {
  position: absolute;
  background-color: inherit;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.border:nth-last-of-type(1) {
  top: 0;
  left: 0;
}

.logo {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -5%;
  right: 45%;
  z-index: 2;
  margin: 0 auto;
}
@media (max-width: 374px) {
  .logo {
    width: 150px;
    height: 150px;
    top: 0;
    left: 30%;
  }
}
@media (max-width: 413px) {
  .logo {
    width: 150px;
    height: 150px;
    top: 0;
    left: 30%;
  }
}

.logo circle {
  animation: blink 0.5s ease-in-out 2, movi 3s ease-in-out 1.5s infinite;
}

.logo path:nth-child(10) {
  animation: blink 0.5s ease-in-out 2, movi 3s ease-in-out 1.5s infinite;
}

@keyframes movi {
  0% {
    transform: translateX(0%);
  }
  48% {
    opacity: 1;
  }
  50% {
    transform: translateX(-5%);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tablet {
  width: 725.8px;
  height: 481px;
  position: relative;
  display: block;
  top: 50%;
  left: 0;
}
@media (max-width: 374px) {
  .tablet {
    width: 305px;
    height: 460px;
    top: 3%;
    left: -51%;
  }
}
@media (max-width: 413px) {
  .tablet {
    width: 325px;
    height: 100vh;
    top: 0;
    left: -51%;
  }
}

.tablet__ipad {
  width: 1000px;
  height: 800px;
  position: absolute;
  top: -34%;
  left: -18%;
  z-index: 5;
  fill: #121212;
  filter: drop-shadow(5px 2px 15px #b4b5b9);
}
.tablet__ipad circle:nth-child(2) {
  fill: #5b5b5f;
}
.tablet__ipad circle:nth-child(4) {
  fill: #222c49;
}
@media (max-width: 374px) {
  .tablet__ipad {
    width: 700px;
    height: 500px;
    top: -4.5%;
    left: -63.5%;
    transform: rotate(90deg);
  }
}
@media (max-width: 413px) {
  .tablet__ipad {
    width: 750px;
    height: 530px;
    top: -2.5%;
    left: -64.5%;
    transform: rotate(90deg);
  }
}

.tablet__ui {
  display: block;
  max-width: 725px;
  max-height: 481px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1.9px;
  left: 2px;
  z-index: 1000;
  background-color: #fff;
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.table__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  background-color: #535457;
  position: fixed;
  z-index: 5;
  border-radius: 1px;
}
@media (max-width: 374px) {
  .table__nav {
    height: 15px;
  }
}
@media (max-width: 413px) {
  .table__nav {
    height: 25px;
  }
}

.tablet__nav__item:last-child {
  display: flex;
}

.table__date {
  margin-left: 1rem;
  padding-top: 0.4rem;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
@media (max-width: 374px) {
  .table__date {
    font-size: 0.6rem;
    padding-top: 0.2rem;
  }
}

.tablet__wifi {
  width: 15px;
  height: 15px;
  margin-right: 0.3rem;
  padding-top: 0.3rem;
  fill: white;
}
@media (max-width: 374px) {
  .tablet__wifi {
    width: 13px;
    height: 13px;
    padding-top: 0rem;
  }
}

.tablet__buttNum {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  margin-right: 0.3rem;
  padding-top: 0.3rem;
}
@media (max-width: 374px) {
  .tablet__buttNum {
    font-size: 0.6rem;
    padding-top: 0.2rem;
  }
}

.tablet__batt {
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  padding-top: 0.3rem;
  fill: white;
}
@media (max-width: 374px) {
  .tablet__batt {
    width: 18px;
    height: 18px;
    padding-top: 0rem;
  }
}

.tablet__header {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  background-color: #0d2632;
}
@media (max-width: 374px) {
  .tablet__header {
    margin-top: 0.5rem;
  }
}
@media (max-width: 413px) {
  .tablet__header {
    margin-top: 0.8rem;
  }
}

.tablet__header__item {
  margin: 0 5.95rem;
  padding: 0.9rem 0 1rem 0;
}

.tablet__main {
  display: flex;
}

.tablet__menu {
  display: block;
  width: 15%;
  height: 400vh;
  background-color: #0c2632;
  background-size: contain;
}
@media (max-width: 413px) {
  .tablet__menu {
    height: 250vh;
  }
}

.tablet__menu__item {
  width: 60px;
  height: 60px;
  margin-left: 0.5rem;
  padding-top: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: scale 0.2s ease;
  scale: 1;
}
.tablet__menu__item a {
  fill: #7f98a4;
}
.tablet__menu__item:hover {
  scale: 1.2;
}
@media (max-width: 374px) {
  .tablet__menu__item {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 413px) {
  .tablet__menu__item {
    width: 40px;
    height: 40px;
    margin-left: 0.2rem;
  }
}

.tablet__content {
  display: block;
  width: 90%;
  font-size: 1rem;
}
@media (max-width: 374px) {
  .tablet__content {
    width: 85%;
  }
}
@media (max-width: 413px) {
  .tablet__content {
    width: 85%;
  }
}

.tablet__content__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
  padding: 1rem;
  box-shadow: 9px 7px 30px 5px #000000;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  cursor: default;
}
.tablet__content__item:hover {
  transform: scale(1.025);
}
@media (max-width: 374px) {
  .tablet__content__item {
    margin: 1rem 0.5rem;
    padding: 0.5rem;
  }
}
@media (max-width: 413px) {
  .tablet__content__item {
    margin: 0.8rem 0.3rem;
    padding: 0.3rem;
  }
}

.tablet__content__img {
  width: 150px;
  height: 150px;
}
.tablet__content__img img {
  width: 150px;
  height: 150px;
}
@media (max-width: 374px) {
  .tablet__content__img {
    width: 100px;
    height: 100px;
  }
  .tablet__content__img img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 413px) {
  .tablet__content__img {
    width: 100px;
    height: 100px;
  }
  .tablet__content__img img {
    width: 100px;
    height: 100px;
  }
}

.tablet__content__name {
  font-size: 1rem;
  font-family: "Roboto";
}
@media (max-width: 374px) {
  .tablet__content__name {
    font-size: 0.8rem;
    margin-right: 0.1rem;
  }
}
@media (max-width: 413px) {
  .tablet__content__name {
    font-size: 0.8rem;
    margin-right: 0.1rem;
  }
}

.tablet__contnet__price {
  font-size: 1rem;
  font-family: "Roboto";
}
@media (max-width: 374px) {
  .tablet__contnet__price {
    width: 25%;
    font-size: 0.8rem;
    padding: 0;
  }
}
@media (max-width: 413px) {
  .tablet__contnet__price {
    width: 25%;
    font-size: 0.8rem;
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7f98a4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #adc8ce;
}

.form {
  position: relative;
  width: 15rem;
  margin-top: 0.5rem;
  height: 1.5rem;
  font-family: "Roboto";
  font-size: inherit;
}
.form__input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid white;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}
.form__input:focus {
  border-color: #0250c7;
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 0.2rem;
  padding: 0 0.5rem;
  background-color: #fff;
  border-radius: 3px;
  cursor: text;
  transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in, background-color 0.2s ease;
}
@media (max-width: 374px) {
  .form {
    width: 13rem;
  }
}
@media (max-width: 413px) {
  .form {
    width: 12rem;
  }
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.8rem;
  font-size: 0.8rem;
  left: 4.3rem;
}

.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
